- comments.each do |comment|
	.comment-user
		= render partial: "comments/comment_body", locals: {person: comment.author, content: comment.content, data: comment, type: "comment", new_reply: new_reply, comment: comment}
	hr



