= render "post_content", locals: {post: @post}
= render "post_infor", locals: {post: @post}
= render "comments/comment", locals: {post: @post, comment: @comment }
= render "comments/list_comments", locals: {post: @post}