// tb => text style bold
// s + number => text size
// mtb + number => margin top-bot
// mlr + number => margin left right
body{
	background-color: #dae0e6;
}
input[type="button"]:focus{
    display:block;
    border: none;
    outline:none;
}
.post-box{
  margin-bottom: 20px;
}
.dot{
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.option-style {
  padding: 7px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: rgb(120, 124, 126);
  span{
    padding-right: 3px;
  }
}

.option-style:hover{
    background-color: #EDEFF1;
    border-radius: 2px;
  }

.tmol {
  align-items: center;
  // justify-content: center;
  display: flex;
}
.tc {
  align-items: center;
  justify-content: center;
  display: flex;
}
.il {
  display: inline !important;
}

.form-control:focus {
  box-shadow: none;
}

.image-input{

}

.color, .them{
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  i {
    color: white !important;
    display: none;
    margin: 30%;
  }
}

.them-checked{
  display: inline-block !important;
}

.color-checked{
  display: inline-block !important;
}

.row-color{
  margin-bottom: 20px;
}

.fa-arrow-up:hover, .upvoted{
  color: red !important;
}
.fa-arrow-down:hover, .downvoted{
  color: #7193ff !important;
}
.fa{
  color: gray;
}

.overlength {
  color: rgb(215, 218, 220);
  font-size: 14px;
  font-weight: bold;
  display: inline-grid;
  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar-header{
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.l10{
  margin-left: 10px;
}
.tb{
  font-weight: bold;
}
.s10{ font-size: 10px}
.s12{ font-size: 12px}
.s14{ font-size: 14px}
.s18{ font-size: 18px}
.s15{ font-size: 15px}
.mtb10{margin: 10px 0}
.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.ml5{margin-left: 5px}
.display-flex { display: flex;}
.display-block { display: block;}
.unset-text{}
.black{color: black}
.c_gray{color: gray}
.c_white{color: white}
.m0{margin: 0}
.mtb20{margin: 20px 0}
.mt0{margin-top: 0}
.p0{padding: 0}
.p6{padding: 6px;}
.p10{padding: 10px;}
.p5{padding: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px !important;}
.mb5{margin-bottom: 5px;}
.mt5{margin-top: 5px;}
.tb700{font-weight: 700;}
.mb0{margin-bottom: 0px}
.mb10{margin-bottom: 10px}
.h100{height: 100%}
.m10{margin: 10px}
.ml15{margin-left: 15px}
.ml10{margin-left: 10px}
.ml5{margin-left: 5px}
.bigger-checkbox{transform: scale(1.5) !important;}
.display-none{display: none}
.overflow-hidden{overflow: hidden;}
.br5{border-radius: 5px}
.btn:focus{box-shadow: none}
.border{
  border-radius: 5px;
  border: 0.5px solid gray;
}

// popup
.popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  text-align: center;
  .message{
    height: 75px;
    span{margin: 20px;}
  }
  .message-box{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #17a2b8;
    border-left: 10px solid #17a2b8;
  }
}

.display-none{display: none}
.focus{
  color: rgb(0, 121, 211) !important;
  border-bottom: 5px solid rgb(0, 121, 211)
}

.btn-style{
  width: 100%;
  border: none;
  text-transform: uppercase;
}
.dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}