.box_form_comment{
  margin: 10px 0;
	.comment {
		#comment_content, .reply {
			background-color: #F2F2F2;
			border-radius: 10px;
    		font-size: 16px;
    		color: #979797;
		}
		.comment-as{
			font-family: "Noto Sans", Arial, sans-serif;
		    font-size: 12px;
		    font-weight: 400;
		    line-height: 18px;
		    color: rgb(28, 28, 28);
		    margin-right: 4px;
		}
	}
	.reply-comment{
		.btn-submit-reply{
			margin-top: 10px;
		}
	}
}

.list-comment{
	font-size: 14px;

	.row{
		margin-left: 0
	}

	.body-comment{
		.comment-text{
			color: #9B9B9B;
		}
		.user-comment{
			font-weight: bold;
		}
		.timestamp-comment{
		    color: rgb(120, 124, 126);
		    font-style: italic;
		    font-weight: normal;
		    font-size: 11px;
		}

	}
	.list-comment-reply{
		margin-left: 30px;
	}
	.comment-user{
		.box_form_comment{
			display: none;
		}
		.reply-comment{
			cursor: pointer;
		}
		.comment-text{
			margin-bottom: 0;
		}
	}

}

.person-comment{
	font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(68, 78, 89);
}
.person-post-cm{
	font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(0, 121, 211);
 }
.navbar-form{
	margin-bottom: 0px;
}

.comment{
  padding-left: 30px;
  .comment-voted{
    margin-top: 4px;
    position: absolute;;
    left: 65px;
  }
}

.reply{
  padding-left: 20px;
  .comment-voted{
    margin-top: 4px;
    position: absolute;;
    left: 85px;
  }
}