body{
	background-color: #dae0e6;
}
.post-box{
  margin-bottom: 20px;
}
.dot{
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.option-style {
  margin-right: 10px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: rgb(120, 124, 126);
  span{
    padding-right: 3px;
  }
}

.option-style:hover{
    background-color: #EDEFF1;
    border-radius: 2px;
  }

.tmol {
  align-items: center;
  // justify-content: center;
  display: flex;
}
.tc {
  align-items: center;
  justify-content: center;
  display: flex;
}
.il {
  display: inline !important;
}

.form-control:focus {
  box-shadow: none;
}

.image-input{

}

.color, .them{
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  i {
    color: white !important;
    display: none;
    margin: 30%;
  }
}

.them-checked{
  display: inline-block !important;
}

.color-checked{
  display: inline-block !important;
}

.row-color{
  margin-bottom: 20px;
}

.fa-arrow-up:hover, .upvoted{
  color: red !important;
}
.fa-arrow-down:hover, .downvoted{
  color: #7193ff !important;
}
.fa{
  color: gray;
}

.overlength {
  color: rgb(215, 218, 220);
  font-size: 14px;
  font-weight: bold;
  display: inline-grid;
  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#_007bff{
  background-color: #007bff
}

#_b7381b{
  background-color: #b7381b
}

#_b7591b{
  background-color: #b7591b
}

#_ad8a18{
  background-color: #ad8a18
}

#_beef0b{
  background-color: #beef0b
}

#_598911{
  background-color: #598911
}

#_507a32{
  background-color: #507a32
}

#_156021{
  background-color: #156021
}

#_104939{
  background-color: #104939
}
//
#_6610f2{
  background-color: #6610f2
}

#_40dbed{
  background-color: #40dbed
}

#_1e5975{
  background-color: #1e5975
}

#_e83e8c{
  background-color: #e83e8c
}

#_0c296d{
  background-color: #0c296d
}

#_5e41a8{
  background-color: #5e41a8
}

#_fd7e14{
  background-color: #fd7e14
}

#_940bdd{
  background-color: #940bdd
}

#_c40bdd{
  background-color: #c40bdd
}
//

#_ffc107{
  background-color: #ffc107
}

#_28a745{
  background-color: #28a745
}

#_17a2b8{
  background-color: #17a2b8
}

#_543b4e{
  background-color: #543b4e
}

#_9b0d52{
  background-color: #9b0d52
}

#_a50832{
  background-color: #a50832
}

#_e00817{
  background-color: #e00817
}

#_3a0307{
  background-color: #3a0307
}

#_604259{
  background-color: #564f50
}
