.box-create{
	.box-title-community{
		p{
			font-size: 15px;
		    font-weight: 700;
		    color: rgb(28, 28, 28);
		    display: inline;
		    line-height: 20px;
		}
	}
	.box-display{
		.box-group{
			display: flex;
			.group_name{
				font-size: 15px;
			    font-weight: 700;
			    color: rgb(28, 28, 28);
			    display: inline;
			    line-height: 20px;
			}
		}
	}
}
.btn-join{
	box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgb(0, 121, 211);
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    display: block;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    width: 100px;
    justify-content: flex-end;
}
.group-header{
  background-color: blue;
  .group-banner{
    width: 100%;
    height: 180px;
    overflow: hidden;
    img{
      min-width: 100%;
      max-height: 100%;
    }
    color: white;
    .group-name{
      margin: 0 100px;;
      height: 64px;
      .name{
        height: 64px;
        font-size: 150%;
      }
    }
  }
}
.group-option{
  background-color: #ebe5f6;
    .option{
    height: 40px;
    a{
    text-decoration: none;
    font-weight: bold;
    margin: 0 100px;
    }
    a:visited{border-bottom: 4px solid #ebe5f6;}
  }
}
.group-box-info{
  border-radius: 5px;
  background-color: white;
  .group-header{
    border-radius: 5px 5px 0 0;
    background-color: rgb(0, 134, 139);
    height: 30px;
    .title{
      font-weight: bold;
      color: white;
      font-size: 10px;
      margin-left: 10px;
    }
  }
  #info{display: flex; margin-bottom: 5px;}
  .group-info{padding: 10px;}
  .group-icon{width: 35px; height: 35px;}
  .group-icon img{width: 100%; height: 100%}
  .btn-join-group, .btn-create-post, .btn-joined{
    width: 100%;
  }
  .btn-join-group, .btn-joined{
    border-radius: 5px;
  }
}
.group-box-info{
  .trending-communities{
    padding: 10px;
  }
}
.group-name{
  .name span{
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 30px 100px;
  }
}

.box-btn{
  a{color: white;
    font-weight: bold;
  }
}
.btn-joined{
  color: black !important;
  border: 0.5px solid black;
}

.btn-joined:after{content: 'JOINED'}
.btn-joined:hover:after{content: 'LEAVE'}
.btn:hover{opacity: 0.75}

.sort-bar-header{
  background-color: white;
  margin-bottom: 20px;
  .sort-bar{margin-left: 100px;}
  span{
    font-weight: bold;
    font-size: 10px;
    margin: 10px 0;
    margin-right: 10px;
  }
}

.line-split{border-bottom: 1px solid white;}
.view-large, .view-medium, .view-small{margin: 10px 2px;}

.view-large{
  table{width: 15px; height: 20px;}
  table tr{
    height: 9px;
  }
}
.view-medium{
  table{width: 15px; height: 20px;}
  table tr{
    height: 6px;
  }
}
.view-small{
  table{width: 15px; height: 20px;}
  table tr{
    height: 5px;
  }
}
.btn-join-small{
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(0, 134, 139);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  display: block;
}
.btn-leave-small{
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  display: block;
  border: 0.5px solid black;
}

.de-active{
  display: none !important;
}

.active{
  display: inline-block !important;
}