.profile-bar{
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  display: flex;
  border-bottom: 1px solid rgb(237, 239, 241);

  .option{
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 0 5px;
    padding: 0 8px;
  }
}
.user-post-box{
  .post-overview-content{
    margin-left: 40px;
  }
  a{
    text-decoration: none;
  }
  border-radius: 5px;
  background-color: white;
  width: 100%;
  margin-bottom: 5px;
  .user-box{margin: 0  !important}
  .post-box{
    padding: 0;
    .post-voted{
      padding-top: 7px;
      position: absolute;
      left: 20px;
      width: 30px;
      padding-left: 7px;
      span{
        margin: -2px;
        font-size: 12px;
        font-weight: bold;
      }
      a, i{
        padding: 5px 2.25px 5px;
      }
    }
  }

  .post-image{
    padding: 0.5% 0 ;
    width: 85px;
    height: 85px;
    float: left;
    overflow: hidden;

    .post-icon{
      border-radius: 5px;
      height: 60px;
      background-color: #EDEFF1;
      padding: 27% 40%;
    }
  }
  .post-image img{
    max-width: 100%;
  }
  .post-things{
    margin-left: 10%;
    padding: 10px;
    .post-title{
      overflow-wrap: break-word;
      font-size: 16px;
      line-height: 25px;
    }
    .post-user-info{
      font-size: 12px;
      font-weight: bold;
    }
    .post-user-info span{
      font-size: 12px;
      color: rgb(120, 124, 126);
      margin-left: 3px;
      text-decoration: none;
    }
    .post-option{
      height: 25px;
      padding: 5px;
    }
  }
}

.user-post-box{
  border: 0.5px solid #0079D3;
}

.user-comment-list{
  background-color: white;
  .post-summary-box{
    padding: 5px;
    .summary, .post-title{
      font-size: 12px;
    }
    .post-title{
      color: rgb(120, 124, 126);
    }
  }
  .post-summary-box:hover, .comment:hover, .post-summary-comment:hover{
    border: 0.5px solid gray;
  }
  .post-summary-comment{
    padding: 5px 10px;
  }
}
.icon-color{
  color: gray;
}
.inline{
  display: inline;
}

.btn-change{
  box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    width: 120px;
    margin-left: 16px;
}
.title-modal-body{
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 4px 0 20px;
}
.modal-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.post-option{
  a {
    text-decoration: none;
    color: gray
    }
  }