.post-box{
    padding: 10px;
    .row{
        margin-left: 0px;
    }
    .post-content{
        .post-title{
            color: rgb(26, 26, 27);
            overflow-wrap: break-word;
            font-size: 20px;
            line-height: 24px;
            padding-right: 5px;
        }
        .post-image{
            padding-left: 15%;
        }
        .post-image img{
            margin: 20px 0;
            width: 90%;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}
.post-box{
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}
.post-content{
	display: inline;
    position: relative;
    text-decoration: none;
    word-break: break-word;
}

.post_infor{
	display: flex;
	align-items: center;
}

.post-comment-infor{
	font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    word-break: normal;
    white-space: nowrap;
    min-width: 25px;
    color: rgb(135, 138, 140);
}

.btn-post-infor{
	border: none;
	color: rgb(135, 138, 140);
	font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    word-break: normal;
    white-space: nowrap;
    min-width: 25px;
}

.btn-create{
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgb(0, 121, 211);
    color: rgb(255, 255, 255);
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    float: right;
    margin-top: 10px;
}

.post-author{
    font-size: 12px;
    font-weight: 700;
    color: rgb(28, 28, 28);
    display: inline;
    line-height: 20px;
    .user{
        display: inline;
        margin-right: 5px;
    }

}
.timestamp-post{
    color: rgb(120, 124, 126);
    font-style: italic;
    font-weight: normal;
}
.post-form{
    background-color: white;
    padding: 10px 20px;
    .post-comment-infor{
        padding-bottom: 20px;
    }
    .post-content{
        .post-image img{
            margin: 20px 0;
            width: 100%;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.post-title{
    color: rgb(26, 26, 27);
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 24px;
    padding-right: 5px;
}
.post-box:hover{
    border: 0.5px solid black;
}

.new-post{
    padding-bottom: 5%;
    border-radius: 5px;
    background-color: white;
    .btn-group{
        width: 100%;

    }
    #link-box, #video-box{
        display: none;
    }
    .btn-post:hover, .btn-video:hover, .btn-link:hover{
        background-color: #f5f8fd;
    }
    .btn{

    }
    .form-box{
        margin: 20px;
    }
}

.active{
    display: block;
}
