.post-box{
  cursor: pointer;
  padding: 10px 10px 10px 40px;
  .row{
    margin-left: 0px;
  }
  .post-content{
    .post-title{
      color: rgb(26, 26, 27);
      overflow-wrap: break-word;
      font-size: 20px;
      line-height: 24px;
      padding-right: 5px;
    }
    .post-image{
      padding-left: 15%;
    }
    .post-image img{
      margin: 20px 0;
      width: 90%;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .post-voted{
    position: absolute;
    left: 20px;
    width: 30px;
    padding-left: 7px;
    span{
      margin: -2px;
      font-size: 12px;
      font-weight: bold;
    }
    a, i{
      padding: 5px 2.25px 5px;
    }
  }
}

.post-box{
  border-radius: 5px;
  background-color: white;
}
.post-content{
	display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

.post_infor{
	display: flex;
	align-items: center;
}

.post-comment-infor{
	font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  white-space: nowrap;
  min-width: 25px;
  color: rgb(135, 138, 140);
}

.btn-post-infor{
	border: none;
	color: rgb(135, 138, 140);
	font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  white-space: nowrap;
  min-width: 25px;
}

.btn-create{
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  float: right;
}

.post-author{
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  display: inline;
  line-height: 20px;
  .user{
    display: inline;
    margin-right: 5px;
  }
}

.timestamp-post{
  color: rgb(120, 124, 126);
  font-style: italic;
  font-weight: normal;
}
.post-form{
  background-color: white;
  .post-comment-infor{
    padding-bottom: 20px;
  }
  .post-content{
    .post-image img{
      margin: 20px 0;
      width: 100%;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.post-title{
  color: rgb(26, 26, 27);
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 24px;
  padding-right: 5px;
}
.post-box-index:hover{
  border: 0.5px solid black;
}
.sort-group{
  margin-bottom: 10px;
  .input-group.sort-group-post{
    width: 250px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(237, 239, 241);
    .dropdown-toggle::after{
      margin-left: 1.255em;
    }
    .input-search-group{
      display: flex;
      font-size: 14px;
      font-weight: bold;
      input{
        border: none;
        font-size: 14px;
      }
      .fa{
        margin-left: 5px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
.new-post{
  padding-bottom: 5%;
  border-radius: 5px;
  background-color: white;
  .btn-group{
    width: 100%;

  }
  #link-box, #video-box{
    display: none;
  }
  .btn-post:hover, .btn-video:hover, .btn-link:hover{
    background-color: #f5f8fd;
  }
  .btn{

  }
  .form-box{
      margin: 20px;
      .form-group.form-title{
        input{
          border: 1px solid rgb(237, 239, 241);
          font-size: 14px;
        }
      }
      .form-group.form-for-textarea{
        border: 1px solid rgb(237, 239, 241);
        border-radius: 4px;
        .option-text-area{
          height: 40px;
          background-color:  rgb(246, 247, 248);
          .fa{
            margin-left: 5px;
            font-size: 20px;
          }
        }
        .text-area-content textarea{
          border: none;
          height: 200px;
          font-size: 14px;
        }
      }
      .form-group.action-for-post{
        .more-option-post{
          .btn-oc{
            border: 1px solid rgb(237, 239, 241);
            margin-right: 10px;
            font-size: 12px;
            color: rgb(135, 138, 140);
            text-transform: uppercase;
            font-weight: bold;
          }
          .btn-cancel{
            box-sizing: border-box;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 24px;
            text-transform: uppercase;
            background-color: transparent;
            color: rgb(0, 121, 211);
            fill: rgb(0, 121, 211);
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-radius: 4px;
            text-decoration: none;
            padding: 3px 16px;
            border-color: rgb(0, 121, 211);
            width: 100px;
            margin-right: 16px;
            float: right;
          }
        }
        .main-action{
          height: 30px;
          background-color: red;
        }
      }
      .form-group.option-for-oc{
        p{
          font-size: 12px;
        }
        .btn-group.btn-choose-category{
          width: 200px;
          border: 1px solid rgb(237, 239, 241);
          border-radius: 4px;
          .dropdown-toggle::after{
            margin-left: 4.255em;
          }
          .option-oc{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(135, 138, 140);
            font-size: 13px;
          }
          .menu-oc{
            width: 200px;
            .option-cactegory{
              font-size: 13px;
            }
            .option-cactegory:hover{
              background-color: rgb(0, 121, 211);
              color: white;
            }
          }
        }
      }
      .send-noti{
        height: 50px;
        border-top: 1px solid rgb(237, 239, 241);
        .form-check{
          .form-check-label{
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

  }
  .form-box{
    .form-group.upload-box{
      .upload{
        height: 300px;
        border: 5px dashed rgb(237, 239, 241);
        margin-bottom: 20px;
        .fa{
          position: absolute;
          font-size: 80px;
          margin-top: 12%;
          margin-left: 45%;
        }
        .upload-image{
          height: 300px;
          input{
            position: absolute;
            height: 300px;
            opacity: 0;
          }
        }
      }
    }
  }
  .form-box{
    .form-group.form-for-textlink{
      border: 1px solid rgb(237, 239, 241);
      border-radius: 4px;
      margin-bottom: 20px;
      textarea{
        border: none;
        font-size: 14px;
      }
    }
  }
}

.active{
    display: block;
}
.post-container{
  background-color: red;
  .post-box-content{
    background-color: #dae0e6;
  }
}

.post-header{
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  background-color: black;
  .user-summary{
    margin-left: 30px;
    .post-voted{
      border-right: 1px solid white;
      border-left: 1px solid white;
    }
    i {
      margin: 0 10px;
      color: white;
    }
    .post-header-title.il{
      margin-left: 10px;
    }
  }
  .btn-close-post a{
    text-decoration: none;
    color: #bcb2b2;
  }
  .btn-close-post:hover{
    background-color: gray;
  }
}
.post-user-comment{
  background-color: white;
  padding: 0px 20px 20px 40px;
}
.btn-post-type{
  border-color: rgb(237, 239, 241);
}
.post-icon-option{
  .fa{
    margin-right: 8px;
  }
}
.post-type{
  color: rgb(135, 138, 140);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
}