.search-header{
	background-color: white;
	padding:30px;
	.param-search-header{
		font-size: 20px;
		font-weight: bold;
	}
}
.search-option{
	background-color: white;
	margin-bottom: 20px;
	padding-left: 30px;
	.search-option-style{
		margin-right: 15px;
		padding: 5px 0
	}
}